.no-match-page {
    background-color: #FFF;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #666;
    
    &__title {
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;

        @media (min-width: 768px) {
            font-size: 25px;
            line-height: 25px;
        }
    }
}