@font-face {
    font-family: "Marutya";
    src: local("Marutya");
    src: url("../fonts/Marutya.woff2") format("woff2");
    src: url("../fonts/Marutya.woff") format("woff");
    font-weight: normal;
    font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Roboto";
	src: local("Roboto"), local("Roboto-Regular");
	src: url("../fonts/Roboto-Regular.woff2") format("woff2");
	src: url("../fonts/Roboto-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
    font-display: swap;
}
