.photo-viewer {
    display: flex;
    flex-direction: column;
    align-items: start;
    background-color: #FFF;
    padding: 10px 15px;
    color: #666;
    border-radius: 0 0 5px 5px;
    box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.5);
    @media (min-width: 768px) {
        padding: 25px;
    }

    @media (min-width: 1200px) {
        padding: 50px;
    }

    &__back-btn {
        margin: 0 0 10px 0;
        float: right;
    }

    .back-btn {
        padding: 10px;
        display: block;
        width: max-content;
        align-self: end;
        border: 1px solid transparent;
        border-radius: 5px;
        @media (min-width: 1200px) {
            border: 1px solid #DDD;
        }

        &:hover {
            background-color: #EEE;
        }

        &__arrow {
            margin-right: 5px;
            font-size: 18px;
        }
    }

    .photo-data {
        width: 100%;
        .img-wrapper {
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__title {
            font-size: 15px;
            font-weight: 500;
            margin-top: 20px;

            &:first-letter {
                text-transform: uppercase;
            }
        }

        &__links {
        margin-top: 15px;
        margin-bottom: 5px;
        font-size: 16px;
            @media (min-width: 768px) {
                font-size: 21px;
            }
        }

        a:hover {
            border-bottom: 1px dashed #666;
        }

        &__details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            min-width: 100%;
            font-size: 15px;
        }

            &__likes {
                button {
                    display: flex;
                    align-items: center;
                    width: max-content;
                    background-color: inherit;
                    border: 1px solid #DDD;
                    border-radius: 5px;
                    padding: 5px 10px;
                    color: #666;
                    font-size: 21px;
                    cursor: pointer;

                    &:hover {
                        border-color: #DDD;
                        background-color: #EEE;
                    }
                }

                .like-count {
                    margin-left: 4px;
                    font-size: 15px;
                }
            }
        
    }

    .like-sign {
        color: #666;
    }

    .liked {
        color: #F00;
    }
}
